<mat-accordion>
  <mat-expansion-panel #panel>
    <div class="frs-ra-top-button">
      <button mat-raised-button (click)="openModal('add')" class="mat-focus-indicator eCase-dialog-positive-action-button mat-raised-button mat-button-base">add</button>
    </div>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Router access
      </mat-panel-title>
    </mat-expansion-panel-header>
    <table mat-table [dataSource]="combinedData" class="mat-elevation-z2 frs-ra-table" >
      <!-- Header and row definitions dynamically generated -->
      <ng-container *ngFor="let col of tabs" [matColumnDef]="col.property">
        <th mat-header-cell *matHeaderCellDef class="cell-left">
          <span>{{ col.header }}</span>
        </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'cell-left': col.property !== 'edit', 'cell-right': col.property === 'edit'}">
          <span *ngIf="col.property !== 'edit'">{{element[col.property]}}</span>
          <div *ngIf="col.property === 'edit'" class="cell-right-row">
            <button mat-raised-button [matMenuTriggerFor]="menu" class="clickable-icon">
              Action
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="deleteRouter(element.id)">
                Delete
              </button>
              <button mat-menu-item (click)="connectRouter(element.id)">
                Connect
              </button>
            </mat-menu>
          </div>
        </td>
      </ng-container>
      <!-- Table header row with the defined columns -->
      <tr mat-header-row *matHeaderRowDef="columnProperties"></tr>
      <!-- Table rows -->
      <tr mat-row *matRowDef="let row; columns: columnProperties"></tr>
    </table>
  </mat-expansion-panel>
</mat-accordion>
