<div *ngIf="memoryData.length > 0">
  <h3 style="font-size: 24px; font-weight: bold;">Memory Data</h3>
  <div *ngFor="let data of memoryData">
    <pre style="font-size: 18px; font-weight: bold; background-color: #f4f4f4; padding: 10px;text-align:left; border: 1px solid #ddd;">
      {{ getFirstNineLines(data.memory) }}
    </pre>
  </div>

  <h3 style="font-size: 24px; font-weight: bold;">Console View</h3>
  <div style="background-color: #272822; color: orange; padding: 10px; border-radius: 5px; font-family: monospace; font-size: 16px;">
    <div *ngFor="let data of memoryData">
      <p>{{ data.memory }}</p>
    </div>
  </div>
</div>

<div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
<style>
  .memory-data {
    font-size: 18px;
    font-weight: bold;
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
  }

  .console-view {
    background-color: #272822;
    color: orange;
    padding: 10px;
    border-radius: 5px;
    font-family: monospace;
    font-size: 16px;
  }

  h3 {
    font-size: 24px;
    font-weight: bold;
  }

</style>
