
<div class="body">
    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true">

        <div class="signup">
            <label for="chk" aria-hidden="true">Sign up</label>
            <form [formGroup]="signupForm" (ngSubmit)="onSignupSubmit()">
                <input type="text" formControlName="username" placeholder="Username" required>
                <input type="email" formControlName="email" placeholder="Email" required>
                <input type="password" formControlName="password1" placeholder="Password" required>
                <input type="password" formControlName="password2" placeholder="Confirm Password" required>
                <button type="submit" [disabled]="signupForm.invalid">Sign Up</button>
                <div *ngIf="errorMessage" class="error">
                    <small>{{ errorMessage }}</small>
                </div>
                <div *ngIf="successMessage" class="success">
                    <small>{{ successMessage }}</small>
                </div>
            </form>
        </div>

        <div class="login">
            <label for="chk" aria-hidden="true">Login</label>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <input type="email" formControlName="username" placeholder="Email" required>
                <input type="password" formControlName="password" placeholder="Password" required>
                <button type="submit" [disabled]="loginForm.invalid">Login</button>
                <div *ngIf="errorMessage" class="error">
                    <small>{{ errorMessage }}</small>
                </div>
            </form>
        </div>
    </div>
  </div>
