
<h2>Test Result</h2>
<!-- affiche ici la partie de resultat simple pour le user -->
<div *ngIf="routerData && routerData.interfaces">
  <table class="summary-table" style="width: 100%; border-collapse: collapse; margin-bottom: 20px;">
    <thead>
      <tr>
        <th style="border: 1px solid #ddd; padding: 8px;">Interface</th>
        <th style="border: 1px solid #ddd; padding: 8px;">IP Address</th>
        <th style="border: 1px solid #ddd; padding: 8px;">Status</th>
        <th style="border: 1px solid #ddd; padding: 8px;">Protocol</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let intf of parsedInterfaces">
        <td style="border: 1px solid #ddd; padding: 8px;">{{ intf.interface }}</td>
        <td style="border: 1px solid #ddd; padding: 8px;">{{ intf.ip }}</td>
        <td style="border: 1px solid #ddd; padding: 8px;">{{ intf.status }}</td>
        <td style="border: 1px solid #ddd; padding: 8px;">{{ intf.protocol }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="routerData && routerData.ping">
  <h3>Ping Test Result</h3>
  <p *ngIf="pingStatus.success">Ping to {{ routerData?.pingTarget }} was successful!</p>
  <p *ngIf="!pingStatus.success">Ping to {{ routerData?.pingTarget }} failed: {{ pingStatus.message }}</p>
</div>


<h2>Console View</h2>
<div *ngIf="routerData"class="console-container" style=" max-width: 800px;
  margin: 20px auto;
  font-family: 'Courier New', Courier, monospace;">
  <h2 style="
  text-transform: uppercase;">Interfaces</h2>
  <div class="console" style=" background-color: #1e1e1e;
  color: orange;
  padding: 20px;
  border-radius: 5px;
  overflow: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;">
    <pre>{{ routerData?.interfaces }}</pre>
  </div>

  <h2 style="
  text-transform: uppercase;">Ping Results</h2>
  <div class="console" style=" background-color: #1e1e1e;
  color: orange;
  padding: 20px;
  border-radius: 5px;
  overflow: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;">
    <pre>{{ routerData?.ping }}</pre>

</div>
